---
import Layout from "../layouts/Layout.astro";
---

<Layout title="InnAi">
    <h1><span class="text-gradient">InnAi</span> Models</h1>
    <main>
        <section>
            <h2>Salmon Swirl</h2>
        </section>

        <section>
            <h2>Zander Zenith</h2>
        </section>
    </main>
</Layout>

<style lang="scss">
    section {
        margin: 2rem 0;
    }
</style>
