---
import Footer from "../components/Footer.astro";
import ModelDetails from "../components/ModelDetails.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="InnAi">
    <h1><span class="text-gradient">InnAi</span> Models</h1>
    <main>
        <ModelDetails modelName="Salmon Swirl" />
        <ModelDetails modelName="Roach River" />
        <ModelDetails modelName="Zander Zenith" />
    </main>
    <Footer />
</Layout>
